
.container{
    background-color:rgb(231, 230, 228);
    width: 500px;
    max-height: 650px;
    margin: 5rem auto;
}

.contentWrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    margin: 1rem;
    gap: 0;
    
}

.noImage{
    height: 200px;
    width: auto;
    object-fit: cover;
}
.container img{
    
    height: 200px;
    object-fit:cover;
}


.container h3,
.container h4,
.container p,
.container h4,
.container Image,
.container h5,
.container h5{
    padding: 0;
    margin: 10px;
}

